header{
  text-align: center;
  .header-conatinor{
    background-color: $grad1-color;
    color: $main-color;
  }
  .header-logo{
    width: 5%;
    float: left;
    // display: inline-block;
    img{
      width: 30px;
      padding-top: 15px;
    }
  }
  .header-body{
    float: left;
    // display: inline-block;
    width: 70%;
    h1{
      font-size: 18px;
      padding: 10px 0px 0px 150px;
    }
  }
  .todo-profile{
    display: inline-block;
    width: 20%;
    padding-top: 10px;
    img{
      border-radius: 50%;
      @include  hgt-wid(50px, 50px)
    }
    .profile-name{
      position: relative;
      display: inline-block;
      bottom: 20px;
      left: 5px;
    }
  }
}
