$background-color:#f0f4f8;
$main-color:#ffffff;
$border-color:#ab9b9b;
$btn-border-color:#b3acac;
$btn-color:#756f6f;
$btn-submit-color:#4772a7;
$model-hd-color:#3a3d62;
$font-color:#3c495a;
$font-family: 'Roboto', sans-serif;
$grad1-color:#0b3646;
$grad2-color: #4772a7;
$header-bck-color:#297ec7;
$black:#000000;
